@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

:root {
    --background-color: #1a1a1a;
    --text-color: #ffffff;
  }

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns in the top section */
  grid-template-rows: auto 1fr; /* Auto height for the top section, 1fr for the bottom section */
  height: 100vh; /* Full height of the viewport */
}

.top-left, .top-right{
  padding: 25px;
}

.bottom {
  grid-column: span 2; /* Span the full width of the grid */
}

.bottom img {
  padding: 25px;
  max-width: 50%;
  height: auto;
}

.bottom img:last-child {
  max-width: 40%;
}

h1 {
  font-family: 'Honk', system-ui;
  font-size: 48;
}

.time {
  font-family: 'Honk', system-ui;
  font-size: 36;
}

h2 {
  font-size: 36;
  font-weight: 500;
}

output, p {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

model-viewer {
  width: 70vw;
  height: 90vh;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #666; /* Set the color of the thumb (the draggable part) */
}

::-webkit-scrollbar-track {
  background-color: #333; /* Set the color of the track (the area behind the thumb) */
}

/* Optional: You can adjust the appearance of the corners */
::-webkit-scrollbar-corner {
  background-color: #333;
}